header {
    background-color: rgb(101, 101, 255);
    height: 50px;
    border-bottom:5px solid rgb(131, 131, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header div{
    font-size: 55px;
    font-family: "Brush Script MT";
    display: inline;
    flex:6 0 auto;
}

.nav{
    background-color: #fcb932;
    margin: 5px;
    color: white;
    text-decoration: none;
    border: black solid;
    font-size: 35px;
}

main{
    display: flex;
    flex-direction: column;
}

img{
    object-fit: contain;
}

footer{
    background-color: rgb(101, 101, 255);
    border: solid black;
    text-align: center;
    display: block;
}