:root{
    --blue: rgb(101, 101, 255);
}
header{
    background-color: var(--blue);
    height: 50px;
    border-bottom:5px solid rgb(131, 131, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header div{
    font-size: 55px;
    font-family: "Brush Script MT";
    display: inline;
    flex:6 0 auto;
}

.nav{
    background-color: #fcb932;
    margin: 5px;
    color: white;
    text-decoration: none;
    border: black solid;
    font-size: 35px;
}

.tech-pic{
    object-fit: contain;
    height: 100%; 
    width: 100%; 
}

main{
    display: flex;
    flex-flow: row wrap;
}

main h1{
    flex:1 0 20%;
    border-right: 2px solid black;
    text-align: right;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    margin: 3px 0;
}

#aboutme{
    flex:1 0 75%;
    padding: 10px;
    text-indent: 50px;
}

#work{
    flex:1 0 75%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.code{
    margin: 20px 0;
    flex:0 0 auto;
    height: 200px;
    width: 700px;
    background-image: url(../images/code-pic.jpg);
    background-size: cover;
}

.resume{
    flex:0 0 auto;
    height: 200px;
    width: 500px;
    background-image: url(../images/resume-pic.png);
    background-size: cover;
 }

.resume-pic{
    height: 100%;
    width: 100%;
}

#contact{
    flex:1 0 75%;
    padding: 10px;
    text-indent: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.foot{
    color: black;
    margin: 5px;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color:  var(--blue);
    font-size: 35px;
}